
    {% for post in posts %}

                <div class="post-preview">
                    <a href="{{ url_for("blog.view_post", slug=post.slug) }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                    </a>

                    {% if current_user.is_authenticated() %}
                        <div><a href="{{ url_for('blog.edit_post', post_id=post.id) }}">[Edit]</a></div>
                    {% endif %}

                    {{ post.content_html | htmlabbrev(300) | safe }}
                    <p class="post-meta"><a href="{{ url_for("blog.view_post", slug=post.slug) }}">... Read More</a></p>

                    <p class="post-meta">Posted on {{ moment(post.timestamp).format("Do MMM YYYY") }}</p>

                </div>

                <hr>

    {% endfor %}
