{% extends "base.html" %}
{% block content %}

          <div class="inner cover">
           <div class="panel panel-body services">
            <h1 class="cover-heading">About Me</h1>
            <p class="lead">
		I'm a web developer from Perth, Western Australia. I'm currently a lead developer for <a class="link" href="http://www.fairfaxmedia.com.au/">Fairfax Digital</a>'s <a class="link" href="http://www.mydesktop.com.au">MyDesktop</a> Real Estate CRM Software. In my spare time I also make websites for my small business <a class="link" href="http://www.maadwebdesign.com.au">Maad Web Design</a>.
            </p>
            <p>
		I've recently launched <a class="link" href="https://qrbyte.com">qrByte</a>, a tool allowing you to create QR codes for your apps, so that your users can scan one code and be redirected to the correct app store for their device! For a limited time, you can get free analytics on how often your codes are being scanned!
            </p>
            <p>
		I graduated from Murdoch University in 2007 with a Bachelor of Science, Majoring in Computer Science and Mathematics &amp; Statistics.
            </p>
            <p>
		Since graduating, I've been working as a web developer for MyDesktop. In those {{ years_working }} years I've gained experience developing large web based systems, maintaining server hardware, managing and mentoring junior developers, and much more.
            </p>
            <p style="text-align: center;">
              <a href="{{ url_for('main.contact') }}" class="btn btn-lg btn-primary">Contact Me Now</a>
            </p>
           </div>
          </div>

{% endblock %}
