{% extends "base.html" %}
{% block content %}

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Matt Healy Web Solutions</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="{{ url_for('static', filename='img/slide-3.jpg') }}" alt="">
                </div>
                <div class="col-md-6">
                    <p>I graduated from Murdoch University in Perth, Western Australia, June 2007. Since then I have been working in the web industry and gaining experience as a web developer, database administrator, server guy, team leader, client liaison, consultant and business analyst.</p>
                    <p>I am a proud father of two beautiful children and enjoy movies, sports and technology in my spare time.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-md-6">
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/matt_healy" data-widget-id="692723812836646912">Tweets by @matt_healy</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="{{ url_for('static', filename='img/about-pic.jpg') }}" alt="">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

{% endblock %}
