<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Matt Healy Web Solutions - Web Developer - Perth, Western Australia">
    <meta name="author" content="Matt Healy">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {% if title %}
    <title>{{ title }} - Matt Healy Web Solutions - Web Developer - Perth, Western Australia</title>
    {% else %}
    <title>Matt Healy Web Solutions - Web Developer - Perth, Western Australia</title>
    {% endif %}

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/agency.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{ url_for('main.index') }}#page-top">Matt Healy</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="{{ url_for('blog.index') }}">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

                {% block content %}
                {% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Matt Healy {{ moment().format('YYYY') }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/matt_healy"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="http://stackoverflow.com/users/272193/matthewh"><i class="fa fa-stack-overflow"></i></a>
                        </li>
                        <li><a href="https://github.com/MattHealy/"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/mjhealy"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="{{ url_for('main.terms') }}">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>foodloggr</h2>
                            <p class="item-intro text-muted">Simple Food Logging.</p>
                            <img class="img-responsive img-centered" src="{{ url_for('static', filename='img/portfolio/foodloggr.png') }}" alt="foodloggr">
                            <p>Traditional food logging apps require more effort than they really should. You have to search for food items in an enormous database, where official entries are mixed in with user-submitted entries, and a lot of the time those databases are very US-centric. This makes it difficult to track what you are eating, often leading to just giving up on using the service. foodloggr aims to simplify that process – you just enter what you eat, that’s it.</p>
                            <p>foodloggr is built using the Flask framework for Python, and is hosted on Amazon EC2 with user content stored on S3.</p>
                            <p>foodloggr was covered by <a href="http://www.startupnews.com.au">//Startup News</a> in October 2015. You can read the article <a href="http://www.startupnews.com.au/2015/10/06/foodloggr/">here</a>.</p>
                            <p><a href="https://www.foodloggr.com">Try foodloggr today!</a></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>qrByte</h2>
                            <p class="item-intro text-muted">Multipurpose QR codes.</p>
                            <img class="img-responsive img-centered" src="{{ url_for('static', filename='img/portfolio/qrbyte.png') }}" alt="qrByte">
                            <p>qrByte is a simple web application that allows users to create intelligent QR codes. The QR codes are capable of detecting the type of mobile device being used for scanning, and redirecting the user to the appropriate URL based on their device type. Perfect for QR codes linking to apps on the iTunes and Google Play stores!</p>
                            <p><a href="https://qrbyte.com">Try qrByte today!</a></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Simple Invoicing</h2>
                            <p class="item-intro text-muted">No frills invoicing for freelancers.</p>
                            <img class="img-responsive img-centered" src="{{ url_for('static', filename='img/portfolio/simpleinvoicing.png') }}" alt="">
                            <p>I created Simple Invoicing because I was sick of manually creating invoices for clients in Microsoft Word. Simple Invoicing allows you to add the basic details of your clients and create invoices for those clients. It also has a dashboard, advising you of outstanding and overdue invoices.</p>
                            <p>If you're interested in using Simple Invoicing, please get in touch.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cbpAnimatedHeader.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/agency.js') }}"></script>

    {{ moment.include_moment() }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43045289-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
