{% extends "base.html" %}
{% block content %}

            <div class="post-preview">

            <p>I'm an experienced web consultant based in Perth, Western Australia.</p>
            <p>I can advise your business on migrating to cloud computing with Amazon Web Services (AWS), audit your current AWS setup, create a new website for your business and much more.</p>

            <p>
              <a href="{{ url_for('main.contact') }}" class="btn btn-lg btn-primary">Contact Me Now</a>
            </p>

            </div>

{% endblock %}
