{% extends "base.html" %}
{% block content %}

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Portfolio
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <a href="{{ url_for('static', filename='img/portfolio/foodloggr.png') }}"><img class="img-responsive img-border-left" src="{{ url_for('static', filename='img/portfolio/foodloggr.png') }}" alt=""></a>
                </div>
                <div class="col-md-6">
                    <h3>foodloggr</h3>
                    <p>Traditional food logging apps require more effort than they really should. You have to search for food items in an enormous database, where official entries are mixed in with user-submitted entries, and a lot of the time those databases are very US-centric. This makes it difficult to track what you are eating, often leading to just giving up on using the service. foodloggr aims to simplify that process – you just enter what you eat, that’s it.</p>
                    <p>foodloggr is built using the Flask framework for Python, and is hosted on Amazon EC2 with user content stored on S3.</p>
                    <p>foodloggr was covered by <a href="http://www.startupnews.com.au">//Startup News</a> in October 2015. You can read the article <a href="http://www.startupnews.com.au/2015/10/06/foodloggr/">here</a>.</p>
                    <!--<p><a href="https://www.foodloggr.com">Try foodloggr today!</a></p>-->
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-6">
                    <a href="{{ url_for('static', filename='img/portfolio/qrbyte.png') }}"><img class="img-responsive img-border-left" src="{{ url_for('static', filename='img/portfolio/qrbyte.png') }}" alt=""></a>
                </div>
                <div class="col-md-6">
                    <h3>qrByte</h3>
                    <p>qrByte is a simple web application that allows users to create intelligent QR codes. The QR codes are capable of detecting the type of mobile device being used for scanning, and redirecting the user to the appropriate URL based on their device type. Perfect for QR codes linking to apps on the iTunes and Google Play stores!</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

{% endblock %}
