{% extends "base.html" %}
{% block content %}

          <div class="post-preview">

            <h1>Portfolio</h1>

            <div>
                <h2><a href="https://www.foodloggr.com">foodloggr</a></h2>
                <p>foodloggr is a simple food logging web app. Traditional food logging apps require you to enter the amount of calories you consume which takes a lot of time, and quite frankly gets a bit boring after a while. foodloggr helps you to stay on track with your eating habits by allowing you to share your food log with your friends. </p>
                <p>foodloggr is developed using the <a href="http://flask.pocoo.org/">Flask</a> framework for <a href="https://www.python.org/">Python</a>, and hosted on <a href="http://aws.amazon.com/ec2/">Amazon EC2</a> and <a href="http://aws.amazon.com/s3/">Amazon S3</a> .
                <p><a href="https://www.foodloggr.com">Visit site</a></p>
            </div>

            <div>
                <h2><a href="https://qrbyte.com">qrByte</a></h2>
                <p>qrByte is a free web-based tool for creating intelligent QR codes. The QR codes have logic built in to redirect user to the App Store or Google Play Store depending on what device they're using. Alternatively, you can create a QR code to link your visitors to all your social media accounts.</p>
                <p>qrByte is developed using the <a href="http://flask.pocoo.org/">Flask</a> framework for <a href="https://www.python.org/">Python</a>, and hosted on <a href="http://aws.amazon.com/ec2/">Amazon EC2</a>.
                <p><a href="https://qrbyte.com">Visit site</a></p>
            </div>

            <div>
                <h2>StackOverflow</h2>
                <p>I'm a regular contributor on StackOverflow. Below are some of my more popular answers.</p>
                <p><em>
                    <ul>
                        <li><a href="http://stackoverflow.com/questions/9809742/how-to-automate-login-to-google-api-to-get-oauth-2-0-token-to-access-known-user/9857988#9857988">How to automate login to Google API to get OAuth 2.0 token to access known user account</a></li>
                        <li><a href="http://stackoverflow.com/questions/9798958/jquery-full-calendar-json-event-source-syntax/9799035#9799035">Jquery Full Calendar json event source syntax</a></li>
                        <li><a href="http://stackoverflow.com/questions/5618854/perl-reading-dir-and-getting-stat-for-each-file/5618958#5618958">Perl, Reading dir and getting stat() for each file</a></li>
                        <li><a href="http://stackoverflow.com/questions/11301748/google-calendar-api-event-insert-always-return-404-not-found-error/11301958#11301958">Google Calendar API event insert always return 404 "not found" error</a></li>
                        <li><a href="http://stackoverflow.com/questions/4180277/perl-xmldom-parser-usage/4180934#4180934">Perl XML::DOM parser usage</a></li>
                        <li><a href="http://stackoverflow.com/questions/22114205/amazon-rds-multi-az-scaling-downtime/23578445#23578445">Amazon RDS Multi-AZ scaling downtime</a></li>
                    </ul>
                </em></p>
                <p><a href="http://stackoverflow.com/users/272193/matthewh?tab=answers&sort=votes">Visit site</a></p>
            </div>

          </div>

{% endblock %}
