{% extends "base.html" %}
{% block content %}

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Services</h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <h3>Web Hosting</h3>
                    <p>I provide fully managed web hosting for your sites, so you don't have to lift a finger. Rest easy knowing your website or web app is up and looked after.</p>
                    <p>Prices start at <strong>$35.00 per month, or $350.00 per annum</strong> (12 months for the price of 10) for basic website/web app hosting. If your requirements are slightly different, we can provide custom hosting solutions as well.</p>
                </div>
                <div class="col-md-6">
                    <h3>Domain Names</h3>
                    <p>Register your domain name (e.g. yourbusiness.com.au) with me to have all the tech work taken care of.</p>
                    <p>Standard domain names (e.g. .com, .com.au) are priced at <strong>$100.00 per annum</strong> (.au domain names require two years minimum)
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <h3>Web Applications</h3>
                    <p>Custom built web applications, made to your exact specifications. Standards compliant, modern and easy to use.</p>
                </div>
                <div class="col-md-6">
                    <h3>API Development</h3>
                    <p>Enhance your existing systems with a modern, standards-compliant Application Programming Interface (API), allowing other systems to connect to yours.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <h3>Cloud Computing</h3>
                    <p>Move your systems online and harness the power of the cloud. I specialise in <a href="https://aws.amazon.com">Amazon Web Services.</a></p>
                </div>
                <div class="col-md-6">
                    <h3>Consulting</h3>
                    <p>Got a slightly different problem? Let my years of experience assist you in your web and technology strategy.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <h3>Security Audits</h3>
                    <p>I can review your existing web applications to ensure they are safe and secure from attack and minimise any risk to your business.</p>
                </div>
                <div class="col-md-6">
                    <h3>Business to Business Integration</h3>
                    <p>I specialise in business-to-business integration programming. Connect your systems to the other web based systems that your business uses, and maximise efficiency in your business.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

{% endblock %}
